itsdangerous==1.1.0
Jinja2==2.10
aiodns==2.0.0
aiofiles==0.5.0
argcomplete==1.11.1
async_exit_stack==1.0.1
async_generator==1.10
brotli==1.0.7
cchardet==2.1.6
contextvars==2.4
cryptography==2.9.2
Cython==0.29.20
cython==0.29.20
email_validator==1.1.1
graphene==2.1.8
gunicorn==20.0.4
httptools==0.1.1
idna_ssl==1.1.0
importlib_resources==2.0.1
ipaddr==2.2.0
keyring==21.2.1
lockfile==0.12.2
lxml==4.5.1
mypy_extensions==0.4.3
numpy==1.19.0
ordereddict==1.1
orjson==3.1.1
pathlib2==2.3.5
pexpect==4.8.0
protobuf==3.12.2
pyfakefs==4.0.2
Pygments==2.6.1
pyOpenSSL==19.1.0
python-dotenv==0.13.0
PyYAML==5.3.1
secrets==1.0.2
simplejson==3.17.0
tokio==0.2.0
Twisted==22.10.0
typing_extensions==3.7.4.2
ujson==3.0.0
usercustomize==1.0.0
watchgod==0.6
wincertstore==0.2
wsproto==0.15.0
zope==4.4.3
